.all-ul-skills-block {
    float: left;

    &:nth-child(2) {
        margin-left: 5vw;
    }

    &__item {
        ul {
            list-style: none;
            margin: 8px 0 20px;
        }
        li {
            background: $black;
            color: $white;
            text-align: center;
            padding: 0.4vw 1.4vw;
            margin-bottom: 1vw;
            
            @media (max-width: $mobile_l) {
                padding: 1vw 1.4vw;
                margin-bottom: 2.2vw;
            }
        }
        ul.perfectly li {
            background: $black;
        }
        ul.basic li {
            background: $red;
        }
        ul.studying li {
            background: $black;
        }
        ul.primary li {
            background: $gray;
        }
        ul.apply li {
            background: $black;
        }
        .skills-title {
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            color: $black;
            margin-bottom: 8px;
        }
        .skills-title--basic {
            color: $red;
        }
        .skills-title--primary {
            color: $gray;
        }
    }
}