// Fonts
@import "fonts.scss";
// Core
@import "variables.scss";
@import "mixins.scss";
// Components 
@import "../components/Header/header.scss";
@import "../components/HeaderTextBlock/headertextblock.scss";
@import "../components/Nav/nav.scss";
@import "../components/ToggleMenu/togglemenu.scss";
@import "../components/MobileMenu/mobile_menu.scss";
@import "../components/Skills/skills.scss";
@import "../components/SkillsBlocks/skillsBlocks.scss";
@import "../components/Cube/Cube.scss";
@import "../components/Education/education.scss";
@import "../components/Career/career.scss";
// example 
@media (max-width:$mobile_p) {}

@media (min-width:$mobile_p+1) and (max-width:$mobile_l) {}

@media (min-width:$mobile_l+1) and (max-width:$tablets) {}

@media (min-width:$tablets+1) and (max-width:$desctops_s) {}

@media (min-width:$desctops_s) {}

html {
    box-sizing: border-box;
    font-size: 15px;
    @media (max-width: $mobile_p) {
        font-size: 15px;
    }
    @media (min-width:$mobile_p+1) and (max-width:$mobile_l) {
        font-size: 14px;
    }
    @media (min-width:$mobile_l+1) and (max-width:$tablets) {
        font-size: 14px;
    }
    @media (min-width:$tablets+1) and (max-width:$desctops_s) {
        font-size: 16px;
    }
    @media (min-width:$desctops_s) {
        font-size: 17px;
    }
    @media (min-width:$desctops_s) {
        font-size: 17px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: $gray_text;
    line-height: 1.3;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: $white;
    min-height: 100vh;
    text-align: left;
    overflow-x:hidden;
}

ul {
    padding: 0;
}

h2 {
    text-align: center;
    color: $black;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-top: 4.5vh;
    font-size: 2.2rem;
    font-family: $font_family;
}

article.active h2 {
    @include animation('up_h1 .7s cubic-bezier(.2, .6, .2, 1) .4s backwards');
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 4%;
}

.content {
    background: $white;
    padding: 4vw;
}
.animate-hidden {
    display: block;
    overflow: hidden;
}