    /* Variables */
    // colors
    $white: #FFF;
    $gold: #CFB282;
    $red: #dc3545;
    $litegray: #F6F6F6;
    $black: #262626;
    $gray: #a4a4a4;
    $gray_text: #737373;

    // fonts
    $font_family: 'Exo 2',sans-serif;

    // sizes window
    $mobile_p: 480px;
    $mobile_l: 767px;
    $tablets: 1024px;
    $desctops_s: 1280px;
    
    // size for cube side 
    $cube_side: 10vw;
    $cube_side-mob: 20vw;
    // animation start
    $skills-start-anim:0.8;