@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.career {
    background: $litegray;
    height: 100vh;
    overflow: hidden;

    @media (max-width: $mobile_l) {
        overflow: visible;
        height: auto;
        padding-bottom: 50px;
    }

    &__content {
        height: calc(100vh - 9vh - 3vw);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        @media (max-width: $mobile_l) {
            height: auto;
        }
    }

    &__center {
        display: flex;

        @media (max-width: $mobile_l) {
            flex-direction: column;
        }
    }

    .career-item {
        max-width: 40vw;
        box-shadow: 10px 10px 0 rgba(85, 85, 85, 0.1);
        border-radius: 5px;
        background: $white;
        padding: 2vw;
        opacity: 0;

        @media (max-width: $mobile_l) {
            max-width: 90vw;
            padding: 4vw;
            margin-top: 40px;
            opacity: 1;
        }

        &:first-child {
            @include transform(translateX(-100%));
            margin-right: 4vw;

            @media (max-width: $mobile_l) {
                margin-bottom: 30px;
                margin-right: 0;
                @include transform(translateX(0));
            }
        }

        &:last-child {
            @include transform(translateX(100%));
            margin-left: 4vw;

            .career-item__logo {
                img {
                    max-width: 160px;
                }
            }

            @media (max-width:$mobile_l) {
                margin-left: 0vw;
                @include transform(translateX(0));
            }
        }

        &__title {
            line-height: 20px;
            color: $black;
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 12px;
        }

        &__profession {
            margin-bottom: 15px;
            color: $red;
        }

        &__period {
            color: $black;
        }

        &__logo {
            min-height: 65px;
            margin-bottom: 20px;

            @media (max-width: $mobile_l) {
                min-height: auto;
                margin-bottom: 10px;
            }

            img {
                max-width: 250px;
            }
        }

        &__description {
            text-align: justify;
        }
    }
}

@media (min-width: $mobile_l+1) {
    .career.active {
        .career-item {
            @include animation('fadeIn 1s cubic-bezier(.2, .6, .2, 1) #{$skills-start-anim}s forwards');
        }
    }
}