/* Variables */
/* Mixins */
.menu {
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translateY(-270%);
  transform: translateY(-270%);
  -webkit-animation: fadeInY 1s cubic-bezier(.2, .6, .2, 1) 2.8s forwards;
  animation: fadeInY 1s cubic-bezier(.2, .6, .2, 1) 2.8s forwards;
}

@-webkit-keyframes fadeInY {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInY {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.menu .container {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.menu__menu-ul {
  margin-left: 40px;
  position: absolute;
  left: 50%;
  top: 0;
}

@media (max-width: 768px) {
  .menu__menu-ul {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .menu__socicons {
    display: none;
  }
}

.menu .menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.menu .menu-ul__li {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: relative;
  list-style: none;
  padding: 4px 1.5vw;
  margin: 2px 0;
  color: #262626;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.menu .menu-ul__li a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  text-decoration: none;
  color: #262626;
}

.menu .menu-ul__li--active {
  color: #FFF;
}

.menu .menu-ul__li--active a {
  color: #FFF;
}

.menu .menu-ul__li:before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 80%;
  width: 12px;
  height: 2px;
  margin-right: 15px;
  background-color: #dc3545;
}

.menu .menu-ul__li:hover {
  cursor: pointer;
}

.menu .socicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu .socicons__icon {
  color: #fff;
  background: #a4a4a4;
  border-radius: 50%;
  text-decoration: none;
  width: 30px;
  height: 30px;
  font-size: 15px;
  position: relative;
  margin: 0px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu .socicons__icon:hover {
  background: #262626;
}

.logo {
  color: #FFF;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.logo__lastname {
  color: #262626;
  font-size: .73rem;
  line-height: .8rem;
  display: block;
}

.menuHighlight {
  margin-left: -5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  background: #dc3545;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=nav.css.map */